@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

body, html {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    line-height: 150%;
    margin-bottom: 2em;
}

.fix {
    overflow: hidden;
}

.aligncenter {
    display: block;
    margin: 0 autp;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* ============================================
slider area css start
=================================================*/

.logo img {
    padding: 15px 0;
}

.main_menu ul {
    margin: 0;
    padding: 0;
}

.main_menu ul li {
    display: inline-block;
    transition: .3s;
}

.main_menu ul li a {
    color: #000;
    font-size: 20px;
    display: inline-block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all.3s ease;
}

.nav_active {
    border-bottom: 5px solid #44C0C2;
    color: #44C0C2;
    background: #F8F9FB;
}

.main_menu ul li:hover {
    border-bottom: 5px solid #44C0C2;
    color: #44C0C2;
    background: #F8F9FB;
}

.slider_area {
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.single_slider {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slider_title {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.table_cell h1, p {
    color: #fff;
}

.para p {
    color: #000;
}

.boxed_btn {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    border-top: 3px solid #fff;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    border-bottom: 3px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* .owl-carousel .owl-nav {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

.fa-angle-right, .fa.fa-angle-left {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.fa-angle-left {
    padding-right: 5px;
}

.owl-carousel .owl-nav button.owl-next {
    font-size: 40px;
    position: absolute;
    right: 25px;
    top: 50%;
}

.owl-carousel .owl-nav button.owl-prev {
    font-size: 40px;
    margin-right: 10px;
    padding: 10px;
    position: absolute;
    left: 25px;
    top: 50%;
}

/* service area */

.service_area {
    padding: 70px 0;
}

.service_logo {
    width: 100px;
    height: 100px;
    border: 3px solid #49cbcd;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.icon {
    font-size: 40px;
    color: #49cbcd;
    line-height: 95px;
    font-weight: bold;
}

.single_service h3 {
    color: #4e525d;
    font-size: 22px;
    text-transform: capitalize;
    padding-top: 30px;
}

.single_service p {
    color: #4e525d;
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
}

.read_more {
    display: inline-block;
    background: #49cbcd;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
}

/* ===============portfolio area =============*/

.portfolio_area {
    background: #f1f1f1;
    padding: 70px 0;
}

.portfolio_header h2 {
    color: #373737;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.portfolio_gallery {
    padding-bottom: 50px;
}

.single_gallery {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.single_gallery::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ddd;
    top: 0;
    left: 0;
    opacity: .5;
    transition: .3s;
}

.single_gallery::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ddd;
    top: 0;
    right: 0;
    opacity: .5;
    transition: .3s;
}

.single_gallery:hover:after {
    left: -50%;
}

.single_gallery:hover:before {
    right: -50%;
}

.work {
    background: #49cbcd;
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 18px;
}

/* ================team area =================*/

.team_area {
    padding: 60px 0;
}

.team_heading {
    padding: 100px 0;
}

.team_heading h3 {
    color: #4e525d;
    font-size: 42px;
    text-transform: uppercase;
}

.single_team img {
    height: 200px;
    border-radius: 50%;
    width: 200px;
}

.single_team h3 {
    text-transform: capitalize;
    color: #4e525d;
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

.single_team h5 {
    text-transform: capitalize;
    color: #4e525d;
    padding-top: 5px;
    font-size: 16px;
}

.single_team p {
    color: #4e525d;
    font-size: 13px;
    padding-top: 20px;
}

.single_team_img {
    position: relative;
}

.img_icon {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 44%;
    left: 44%;
    text-align: center;
    line-height: 0px;
    opacity: 0;
    transition: .3s;
}

.single_team_img::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    left: 25px;
    top: 0;
    opacity: 0;
    transition: .3s;
}

.single_team_img:hover::after {
    opacity: 0.5;
}

.single_team_img:hover .img_icon {
    opacity: .5;
}

/* ===============price area ============== */

.price_area {
    background: #f1f1f1;
    padding: 100px 0;
}

.single_teg h2 {
    background: #485460;
    color: #fff;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 0;
    transition: .3s;
}

.single_teg h2:hover {
    background: #49cbcd;
    color: #fff;
}

.price_active {
    background: #49cbcd;
    color: #fff;
}

.single_teg h5 {
    background: #f8f9fb;
    padding: 12px;
    color: #485460;
    font-size: 22px;
    margin-bottom: 0;
}

.single_teg ul {
    margin: 0;
}

.single_teg ul li {
    background: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.single_teg ul li:hover {
    padding-left: 15px;
}

.single_teg ul li a {
    color: #8c9299;
}

.single_teg ul li:first-child {
    border-top: 1px solid #ddd;
}

.buy_btn_bg {
    background: #f8f9fb;
    padding: 20px 0;
}

.buy_btn {
    background: #788492;
    color: #fff;
    display: inline-block;
    padding: 7px 30px;
    text-transform: capitalize;
    border-radius: 5px;
    transition: .3s;
}

.buy_btn:hover {
    background: #49cbcd;
    color: #fff;
}

.price_active {
    background: #49cbcd;
    color: #fff;
}

.single_teg:hover {
    padding-left: 5px;
    box-shadow: 10px 10px 42px -20px rgba(0, 0, 0, 0.75);
}

/* ================client area =================== */

.calient_area {
    padding: 100px 0;
}

.client_single {
    text-align: center;
}

.client_single h2 {
    font-size: 40px;
    text-transform: capitalize;
    color: #4e525d;
}

.client_single p {
    color: #4e525d;
    padding: 20px 127px;
    font-size: 22px;
}

.client_single h5 {
    color: #9a8faf;
    font-size: 22px;
}

.client_single .owl-carousel .owl-nav button.owl-next {
    font-size: 40px;
    position: absolute;
    right: -50px;
    top: 50%;
}

/* ==============footer area ================ */

.footer_area {
    background-image: url(img/footer.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
}

.footer_heading h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.get_touch h3 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.get_touch p {
    color: #fff;
    font-size: 17px;
    margin-right: 51px;
}

.social_icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social_icon ul li {
    display: inline-block;
    margin-right: 10px;
}

.social_icon ul li a {
    color: #fff;
}

.social_icon .fa-facebook {
    background: #3b5997;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
}

.social_icon .fa-twitter {
    background: #3ec2f3;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
}

.social_icon .fa-google-plus {
    background: #e44c41;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
}

address {
    padding-top: 30px;
}

address p {
    color: #bface2;
    margin-bottom: auto;
}

.login_area input {
    width: 47%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 30px;
}

.login_area textarea {
    width: 100%;
    padding: 25px;
    color: #888;
    border: none;
    border-radius: 5px;
}

.send-btn {
    float: right;
    color: #fff;
    background: #49cbcd;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: capitalize;
}

/* ============================================

            slider area css End!
=================================================*/